Django==1.8.6
aiohttp==0.18.3
aiopg==0.7.0
aioredis==0.2.4
boto==2.38.0
cchardet==1.0.0
click==5.1
django-extensions==1.5.9
gunicorn==19.3.0
hiredis==0.2.0
ipython==4.0.0
psycopg2==2.6.1
redis==2.10.3
transliterate==1.7.4
